h1 {
  text-align: center;
  margin-bottom: 40px;
}

hr {
  margin: 30px 0;
}

.main__container {
  display: flex;
  justify-content: space-around;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.main__left,
.main__right {
  padding: 0 15px;
}
.main__right {
  width: calc(100% - 30px);
}
